{$SIGNET_DOMAIN} {
    encode gzip
    request_body { max_size 25MB }
    reverse_proxy signet:8000
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        -Server
    }
}
